<!DOCTYPE html>
<html>

<head>

<title>Bot Panel</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<div class="container">


<div class="card">


<h1>
Bot Panel
</h1>


<p class="subtitle">
Multi Bot Management Framework
</p>




<input
id="username"
placeholder="Panel Username"
/>



<input
id="password"
type="password"
placeholder="Panel Password"
/>



<button onclick="login()">
Login
</button>



<p id="message"></p>




<hr>




<h3>
New bot?
</h3>


<button onclick="location.href='/register.html'">
Register Bot
</button>






<div class="credits">


<h3>
Credits
</h3>


<p>
Framework Dev:
<br>
<b>Azuki (Daniel Mojar)</b>
</p>


<p>

FCA Library:
<br>

<b>
@tas33n/ws3-fca developers & contributors
</b>

</p>


</div>





</div>


</div>




<script src="/js/app.js"></script>


</body>

</html>
